In [3]:
#install and import necessary libraries
%pip install pandas
%pip install zipfile
%pip install kaggle

import pandas as pd
import zipfile
import kaggle

Requirement already satisfied: pandas in c:\users\ba6d9\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\ba6d9\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\ba6d9\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ba6d9\anaconda3\lib\site-packages (from pandas) (1.20.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: six>=1.5 in c:\users\ba6d9\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile

Requirement already satisfied: kaggle in c:\users\ba6d9\anaconda3\lib\site-packages (1.6.14)
Requirement already satisfied: bleach in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (4.0.0)
Requirement already satisfied: requests in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (2.26.0)
Requirement already satisfied: python-slugify in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (2024.7.4)
Requirement already satisfied: tqdm in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (4.62.3)
Requirement already satisfied: six>=1.10 in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: urllib3 in c:\users\ba6d9\anaconda3\lib\site-packages (from kaggle) (1.26.7)
Requirement already satisfied: packaging in c:\users\ba6d9\anaconda3\lib\site-packages (from bleach->kaggle) (21.0)
Requirement already satisfied: webencodings in c:\users\ba6d9\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\ba6d9\anaconda3\lib\site-packages (from packaging->bleach->kaggle) (3.0.4)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\ba6d9\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\ba6d9\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ba6d9\anaconda3\lib\site-packages (from requests->kaggle) (3.2)
Requirement already satisfied: colorama in c:\users\ba6d9\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

OSError: Could not find kaggle.json. Make sure it's located in C:\Users\BA6D9\.kaggle. Or use the environment method.

In [4]:
#download dataset from kaggle using Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Dataset URL: https://www.kaggle.com/datasets/hmavrodiev/london-bike-sharing-dataset
License(s): other
london-bike-sharing-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [5]:
#xtract th file from the downloaded zip fil
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [6]:
#read in csv file as pandas dataframe
bikes = pd.read_csv("london_merged.csv")

In [7]:
#expore data
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [8]:
bikes.shape

(17414, 10)

In [9]:
bikes

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [10]:
#count unique values in weather_code column
bikes.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [11]:
#count the unique values in the season column
bikes.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [12]:
#select column names to use
new_cols_dict = {
    'timestamp': 'time',
    'cnt': 'count',
    't1': ' temp_real_C',
    't2': 'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend': 'is_weekend',
    'season':'season'
}
#Rename columns to specified colun names
bikes.rename(new_cols_dict, axis=1,inplace=True)

In [13]:
#changing the humidity values to percentage (between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent/100

In [14]:
#creating a season dictionary so that we can map the integers 0-3 to the actual written values
season_dict = {
    '0.0':'Spring',
    '1.0':'Summer',
    '2.0':'Autumn',
    '3.0':'Winter'
}

#creating a weather dictionary to map the integers to the actual written values
weather_dict = {
    '1.0':'Clear',
    '2.0':'Scattered Clouds',
    '3.0':'Broken Clouds',
    '4.0':'Cloudy',
    '7.0':'Rain',
    '10.0':'Rain with thunderstorm',
    '26.0': 'Snowfall'
}

#changing season column data type to string
bikes.season = bikes.season.astype('str')
#mapping the 0-3 values to actual written season
bikes.season = bikes.season.map(season_dict)

#changing weather column data type to string
bikes.weather = bikes.weather.astype('str')
#mapping the values to the actual written weathers
bikes.weather = bikes.weather.map(weather_dict)

In [17]:
#checking our dataframe to see if the mappings have worked
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken Clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter

In [18]:
#write final dataframe to excel file for Tableau visualizations called "london_bikes_final.xlsx"
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')